.contact {
  min-height: auto;
  padding: 80px 80px;
}


.contact-container {
  max-width: 600px;
}

.contact-container h2 {
  font-size: 2.2rem;
  margin-bottom: 20px;
}

.contact-container p {
  font-size: 1rem;
  color: #bdbdbd;
  line-height: 1.6;
  margin-bottom: 40px;
}

.contact-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.contact-links a {
  color: #ffffff;
  text-decoration: none;
  font-size: 1rem;
  transition: opacity 0.3s ease;
}

.contact-links a:hover {
  opacity: 0.7;
}

/* SOCIALS */
.socials {
  display: flex;
  gap: 30px;
}
section {
  padding: 140px 0;
}

footer {
  margin-top: 80px;
  font-size: 0.8rem;
  color: #777777;
}
@media (max-width: 900px) {
  .contact {
    padding: 100px 30px 40px;
  }
}
